# LangChain Core
langchain
langchain-core
langchain_community

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
huggingface-hub

# Environment Variable Management
python-dotenv

# UI Development
streamlit

# Machine Learning Utilities
numpy
scikit-learn

# Data Validation
pydantic

# Doc Loader Libraries
pypdf
requests
beautifulsoup4